name: DevSecOps Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # ---------- Python deps ----------
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Cache pip
      uses: actions/cache@v4
      with:
        path: ~/.cache/pip
        key: pip-${{ hashFiles('**/requirements.txt') }}

    # ---------- SAST CodeQL ----------
    - name: Init CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python

    - name: Run CodeQL
      uses: github/codeql-action/analyze@v3

    # ---------- Bandit ----------
    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit (High + Critical)
      run: bandit -r api -ll

    # ---------- Secret scanning ----------
    - name: Gitleaks Scan
      uses: gitleaks/gitleaks-action@v2

    # ---------- Docker ----------
    - name: Build Docker image
      run: docker build -t devsecops-api:latest .

    # ----------  FS ----------
    - name: Trivy Filesystem Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: fs
        severity: HIGH,CRITICAL
        exit-code: 1

    # ----------  Image ----------
    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-api:latest
        severity: HIGH,CRITICAL
        exit-code: 1
